*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgba(128, 0, 128, 0.1);
  --button-bg-color: rgb(67, 36, 154);
  --button-hover-color: rgb(46, 12, 138);
  --main-font: "SPACE FUTURE", sans-serif;
  --main-light-font: "SPACE FUTURE LIGHT", sans-serif;
}

body {
  font-family: var(--main-light-font);
  font-size: large;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at bottom, navy 0, black 100%);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 0.5rem;
}

button {
  background-color: var(--button-bg-color);
  font: var(--main-font);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.page-title {
  display: flex;
  justify-content: center;
  border: solid black;
}

.game-interface {
  display: flex;
  justify-content: space-evenly;
  margin-top: 7em;
}

#p1,
#p2 {
  text-align: center;
  color: white;
}

.player-content,
.computer-content {
  display: grid;
  grid-template-columns: 1fr 12fr;
  grid-template-rows: 1fr 12fr;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  color: white;
}

#player-board,
#computer-board {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  width: fit-content;
  border: solid black 1px;
}

.board-letters {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
  gap: 1.5em;
  padding-right: 0.3em;
  font-size: 0.8em;
}

.board-numbers {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
  font-size: 0.8em;
}

.coordinate-content {
  font-size: 1.5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  border: solid black 1px;
  cursor: pointer;
}

#hud-interface {
  text-align: center;
  font-size: large;
  border: solid white;
  width: fit-content;
  padding: 1em;
  margin: 0 auto;
  color: white;
}

.disable-pointer-events {
  pointer-events: none;
}

.menu {
  text-align: center;
  padding: 0px 20px 20px 20px;
  background-color: #333;
  width: 90%;
  max-width: 500px;
  visibility: visible;
  position: absolute;
  box-sizing: border-box;
  color: white;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-title p:first-child {
  font-size: 54px;
  font-family: var(--main-font);
}
.menu h1 {
  font-size: 36px;
  position: relative;
  top: -30px;
  font-family: var(--main-light-font);
}

.get-name {
  display: flex;
  justify-content: center;
}

.get-name input[type="text"] {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  font-family: "SPACE FUTURE", sans-serif;

  transition: border-color 0.1s ease, box-shadow 0.1s ease, font-size 0.1s ease,
    color 0.3s ease;
  margin-bottom: 3em;
}

.get-name input[type="text"]::placeholder {
  color: #ffffff;
  transition: color 0.3s ease;
}

.get-name input[type="text"]:focus {
  color: #ffffff;
  font-weight: bolder;
  font-size: 18px;
  outline: none;
}

.get-name input[type="text"]:focus::placeholder {
  color: #f2f2f2;
}

.join-battle {
  width: 80%;
  padding: 10px 0;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.1s ease, transform 0.1s ease;
}

.join-battle:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.05);
}

.join-battle:active {
  background-color: #2c5f8a;
  transform: scale(0.95);
}

.axis-container,
#axis {
  display: flex;
  justify-content: center;
  font-size: large;
}

.color {
  background-color: green;
}

.computer-board-menu,
.player-board-menu {
  /* visibility: visible; */
  visibility: hidden;
}

.player-board-menu {
  /* position: inherit; */
  position: absolute;
}

.space {
  background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}

.stars1 {
  animation: space 120s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 25px 5px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
}
.stars2 {
  animation: space 240s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 75px 125px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
}
.stars3 {
  background-image: radial-gradient(
      1px 1px at 10px 10px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
}

@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}

.char-container {
  display: grid;
  grid-template-columns: 0.2fr 3fr 0.1fr;
  visibility: hidden;
  position: inherit;
}

.char-text {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  color: white;
  font-size: larger;
  gap: 1em;
  font-family: var(--main-font);
}

.char-text img {
  width: 5.5em;
  border-radius: 5em;
}
